<div class="bg-light" style="margin-top: 6rem;">


    <main class="">
        <div class="container px-4 ">

            <h1 class="">Admin Panel</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>



            <section>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body"><h2 class="text-center" style="font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;">Total Users</h2></div>
                            <div class="card-footer ">
                               <h3 class="text-center" >{{usersCount}}</h3>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                           <div class="card-body"><h2 class="text-center" style="font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;">Total Dishes</h2></div>
                           <div class="card-footer ">
                               <h3 class="text-center" >{{DishCount}}</h3>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body"><h2 class="text-center" style="font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;">Total Orders</h2></div>
                           <div class="card-footer ">
                               <h3 class="text-center" >{{ordersCount}}</h3>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body"><h2 class="text-center" style="font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;">Total Categories</h2></div>
                            <div class="card-footer ">
                               <h3 class="text-center" >{{CategoryCount}}</h3>
                               
                            </div>
                            </div>
                        </div>
                         <div class="col-xl-3 col-md-6">
                        <div class="card bg-secondary text-white mb-4">
                            <div class="card-body"><h2 class="text-center" style="font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;">Total Sales</h2></div>
                            <div class="card-footer ">
                               <h3 class="text-center" >{{salesCount}}</h3>
                               
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>




            <section class="row mt-5">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Area Chart Example
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Bar Chart Example
                        </div>
                        <div class="card-body"><canvas id="myBarChart" width="100%" height="40"></canvas></div>
                    </div>
                </div>
            </section>


            