<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

{{#if category}}


<section class="card mb-4 mt-5 container" style="margin-top: 7rem !important; ">

    <div class="card mb-4 mt-5">
        <div class="card-header text-center fw-bold"
            style="font-size:1.8em; font-family: Georgia, 'Times New Roman', Times, serif;">

            All Categories
        </div>
        <div class="card-body">
            <table id="datatablesSimple" ">
                <thead>

                    <tr>

                      
 <th scope=" col">No</th>
                <th scope=" col">Image </th>
                <th scope=" col">Name</th>

                </tr>
                </thead>
                {{#each category}}
                <tbody>
                    <tr>
                        <td>{{inc @index}}</td>
                        <td><img style="width:50px; height: 50px;" src="{{this.url}}" alt=""></td>


                        <td>{{this.cat_name}}</td>



                        <td>
                            <a href="/admin/edit-category/{{this._id}}" class="btn btn-primary btn-sm">Edit</a>

                        </td>


                        <td>
                            <a href="/admin/remove-category/{{this._id}}/{{this.publicId}}" class="btn btn-danger btn-sm"
                                onclick="return confirm('Are you want to delete {{this.cat_name}}')">Delete</a>
                        </td>

                    </tr>


                </tbody>
                {{/each}}
            </table>
        </div>
    </div>

</section>
{{else}}
<div class="card-header text-center fw-bold "
    style="font-size:1.8em; font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 7rem;">
    There Is No Categories
</div>
{{/if}}



<script>
    window.addEventListener('DOMContentLoaded', event => {

        const datatablesSimple = new simpleDatatables.DataTable("#datatablesSimple", {
            searchable: false,
            fixedHeight: true,
            paging: false


        });
    });

</script>