

 <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" /> 
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>  
  

{{#if allUsers}}


<section class="card mb-4 mt-5 container" style="margin-top: 7rem !important; ">

    <div class="card mb-4 mt-5">
        <div class="card-header text-center fw-bold"
            style="font-size:1.8em; font-family: Georgia, 'Times New Roman', Times, serif;">

            All Users
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>

                    <tr>

                      <th scope="col">No</th>
                        <th scope="col">Name </th>
                        <th scope="col">Mobile </th>
                        <th scope="col">Email</th>
                        
                                               

                    </tr>
                </thead>
                {{#each allUsers}}
                <tbody>
                    <tr>


                       <td>{{inc @index}}</td>
                        <td>{{this.Name}}</td>
                        <td>{{this.Number}}</td>
                        <td>{{this.Email}}</td>


                        <td>
                             <select class="form-select bg-warning" aria-label="Default select example"
                                        onchange="ChangeuserStatus(value,'{{this._id}}')"
                                        style="width: fit-content;">
                                        <option selected>{{this.userStatus}}</option>
                                        <option value="Block">Block</option>
                                        <option value="Unblock">Unblock</option>


                                    </select>
                        </td>
                         <td>
                            <a href="/admin/editUser/{{this._id}}" class="btn btn-info btn-sm" onclick="return confirm('Are you sure to edit ')">Edit</a>
                        </td>
                        <td>
                            <a href="/admin/removeUser/{{this._id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure to delete ')">Remove</a>
                        </td>



                    </tr>


                </tbody>
                {{/each}}
            </table>
        </div>
    </div>

</section>
{{else}}

<div class="card-header text-center fw-bold "
    style="font-size:1.8em; font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 7rem;">
    There Is No Users
</div>
{{/if}}








<script>

  function ChangeuserStatus(status, userId) {
    if (confirm('are you sure to change ?') == true) {
      $.ajax({
        url: '/admin/change-user-status/' + userId,
        method: 'post',
        data: { status: status },
        success: (response) => {
          alert('user status changed')


        }
      })
    } else {
      return false
    }

  }





     window.addEventListener('DOMContentLoaded', event => {
   
    const datatablesSimple = new simpleDatatables.DataTable("#datatablesSimple", {
        searchable: false, 
        fixedHeight: true,
         paging: false
    });
  });


</script>