{{#if orderList}}

<section class="card mb-4 mt-5 container" style="margin-top: 7rem !important; ">

  <div class="card mb-4 mt-5">
    <div class="card-header text-center fw-bold"
      style="font-size:1.8em; font-family: Georgia, 'Times New Roman', Times, serif;">

      All Orders
    </div>
    <div class="card-body">
      <table id="datatablesSimple">
        <thead>

          <tr>

            <th scope="col">Date </th>
            <th scope="col">Name </th>
            <th scope="col">Mobile </th>
            <th scope="col">Pincode</th>
            <th scope="col">Street</th>
            <th scope="col">City</th>
            <th scope="col">District</th>
            <th scope="col">State</th>
            <th scope="col">Country</th>
            <th scope="col">Total </th>
            <th scope="col">method</th>
            <th scope="col">products</th>
            <th scope="col">Status </th>

          </tr>
        </thead>
        {{#each orderList}}
        <tbody>
          <tr>


            <td>{{this.date}}</td>
            <td>{{this.name}}</td>
            <td>{{this.deliveryDetails.mobile}}</td>
            <td>{{this.deliveryDetails.pincode}}</td>
            <td>{{this.deliveryDetails.street}}</td>
            <td>{{this.deliveryDetails.city}}</td>
            <td>{{this.deliveryDetails.district}}</td>
            <td>{{this.deliveryDetails.state}}</td>
            <td>{{this.deliveryDetails.country}}</td>
            <td>₹{{this.totalPrice}}</td>
            <td>{{this.paymentMethod}}</td>


            <td>
              <a href="/admin/orderedProducts/{{this._id}}" class="btn btn-success ">view</a>
            </td>
            <td>
              <select class="form-select bg-secondary btn-sm" aria-label="Default select example"
                onchange="changeOrderstatus(value,'{{this._id}}')" style="width: fit-content; color: white;">
                <option selected>{{this.status}}</option>
                <option value="shipped">shipped</option>
                <option value="processing">processing</option>
                <option value="delivered">delivered</option>
                <option value="cancelled">cancelled</option>
              </select>
            </td>
            <td>
              <a href="/admin/removeOrder/{{this._id}}" class="btn btn-danger btn-sm" onclick="return confirm('are you sure to remove this order?')">remove</a>
            </td>

          </tr>


        </tbody>
        {{/each}}
      </table>
    </div>
  </div>

</section>

{{else}}
<div class="card-header text-center fw-bold "
    style="font-size:1.8em; font-family: Georgia, 'Times New Roman', Times, serif; margin-top: 7rem;">
    There Is No Orders
</div>
{{/if}}







<script>

  function changeOrderstatus(status, orderId) {
    if (confirm('are you sure to change ?') == true) {
      $.ajax({
        url: '/admin/change-order-status/' + orderId,
        method: 'post',
        data: { status: status },
        success: (response) => {
          alert('order status changed')


        }
      })
    } else {
      return false
    }

  }


</script>





<style>
  .btn-success {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: black;
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(103, 192, 103, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
  }

  .btn-success:hover {
    color: #FFF;
    background: rgb(103, 192, 103, 0.75);
    border: 2px solid rgb(103, 192, 103, 0.75);
  }
</style>