
{{#if products}}


<div class="heading">
   
   <h3>{{ catName.Category}} menu</h3>
   
   <p><a href="/">home </a> <span> / menu</span></p>
</div>

<section class="products">

  <!-- <h1 class="title">latest dishes</h1>  -->
 
   <div class="box-container">
    
     {{#each products}}
   
         <div class="box" style="height: 43rem;"> 
         
         <button class="fas fa-heart" onclick="addWishlist('{{this._id}}'); checkUser();"></button>
          <button class="fas fa-shopping-cart"  onclick="addToCart('{{this._id}}'); checkUser();" ></button> 
         <img src="{{this.url}}" alt="">
         <a  class="cat">{{this.Description}}</a>
          <br>
         
         <div class="name">{{this.Name}}</div>
         <div class="flex">
           <div class="price"><span>₹</span>{{this.Price}}<span>/-</span></div>
            
         </div>
         </div>
     
        {{/each}}
   </div>

</section>
{{else}}


<div class="heading">
   
   <h3>There Is No Dishes
   </h3>
   
   <p><a href="/">home </a> <span></span></p>
</div>



{{/if}}

















